body {
    background-color: #fffbf7;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #46484c;
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 15px;
}

button {
    color: #fff;
    background-color: #025157;
}

footer {
    text-align: center;
    background-color: black;
    color : white;
    height: 20px;

}
b{
    color: #a46666;
}

form {
    text-align:center;
}

div {
    text-align: center;   
}